* {
  margin: 0;
  padding: 0;
}

.display-weather {
  display: flex;
  max-width: 100vw;
  overflow-x:auto;
  gap: 10px;
}

.day-div {
  min-width: 300px;
  border: 1px solid red;
}

img {
  max-width: 64px;
}

.tempDiv {
  display: flex;
}

.temp-max-div, .temp-min-div {
  display: flex;
  gap: 3px;
}