* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  position: relative;
}

h1 {
  font-size: 2.1em;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

#location {
  font-size: 1.2em;
  text-align: center;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 3px;
}


#search-btn {
  font-size: 1.1em;
  padding: 3px 5px;
  border-radius: 10px;
  border: 1px solid cadetblue;
  background-color: rgb(121, 200, 249);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.container {
  position: absolute;
  top: 10px;
  left: 10px; 
  font-size: 1.4em;
  font-weight: lighter;
  color:rgb(0, 0, 0);
}

.container p {
  margin-bottom: 8px;
}

#scale {
  font-size: 1.3em;
  margin-left: -10px;
  font-weight: bold;
  color: red;
}

#change-scale {
  font-size: 0.9em;
  font-family: monospace;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 5px;
}

.display-weather {
  width: 98vw;
  font-size: 16px;
  scrollbar-color: grey lightgrey;
}

.location {
  text-align: center;
  margin: 10px 0px;
  font-size: 1.5em;
}

.days {
  display: flex;
  max-width: 100vw;
  overflow-x:auto;
  gap: 10px;
  padding: 3px 10px;
}

.day-div {
  min-width: 230px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-div .dateDiv {
  margin-bottom: 3px; 
  font-size: 1.15em;
}

.day-div .dateDiv .date {
  font-size: 0.9em;
  text-align: center;
  color: grey;
}

.day-div img {
  min-width: 64px;
  max-width: 64px;
}

.day-div > .tempDiv {
  margin-top: auto;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 3px;
}

.day-div .temperatures {
  font-size: 0.9em;
  width: fit-content;
  color: grey;
}

.day-div .temperatures .tempDiv {
  margin-left: auto;
}

.tempDiv {
  display: flex;
}

.temp-max-div, .temp-min-div {
  display: flex;
  gap: 3px;
}

.full-day-div {
  margin: 10px;
  border: 1px solid;
  min-width: 50vw;
  max-width: 50vw;
  padding: 10px;
  font-size: 18px;
  display: grid;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid grey;
}

.full-day-div .dateDiv {
  justify-items: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.full-day-div .day {
  font-weight: bold;
}

.full-day-div .date {
  color: grey;
  font-size: 0.7em;
}

.full-day-div .temp-and-icon {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 10px;
}

.full-day-div .temp-and-icon .tempDiv {
  font-size: 1.9em;
  font-weight: bold;
  align-self: center;
}

.full-day-div .temp-and-icon img {
  width: 80px;
}

.full-day-div .temperatures-and-suntimes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.full-day-div .temperatures, .sun-times {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.full-day-div .temp-max-div, .temp-min-div, .sunrise, .sunset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.full-day-div .tempDiv, .sunrise .time, .sunset .time {
  font-weight: bold;
}

.full-day-div .description {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
}